<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220424829477-qa93hu2fk35dc68e23pbf1c2n9oiu2c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220424829477-qa93hu2fk35dc68e23pbf1c2n9oiu2c6</string>
	<key>API_KEY</key>
	<string>AIzaSyA_U77EAJozPlYPS9Ty7Clw130-wG7Ph7g</string>
	<key>GCM_SENDER_ID</key>
	<string>220424829477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp</string>
	<key>PROJECT_ID</key>
	<string>demoproject-e2e22</string>
	<key>STORAGE_BUCKET</key>
	<string>demoproject-e2e22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220424829477:ios:13c2086e07ea8f6464ddcc</string>
</dict>
</plist>